<h3>Your Applications</h3>

<% if @current_user.user_type == 'owner' %>
  <% @current_user.owner_applications.each do |owner_app| %>
    <li>
      <%= link_to owner_app.property.address, application_path(owner_app.id) %>
    </li>
<% @current_user.applications.each do |app| %>
    <li>
      <%= link_to app.property.address, application_path(app.id) %>
    </li>
<% end %>
<% end %>
<% end %>
</ul>
