<h3>Your Applications</h3>

<ul>
  <% @application.each do |app| %>
      <% if app.user_id == @current_user.id %>
      <li>
        <%= link_to app.property.address, application_path(app.id) %>
      </li>
      <% end %>
    <% end %>
</ul>
