<h3>Hi <%=@current_user.name%>, here is your profile</h3>

<p>
  <strong>Email:</strong>
  <%= @current_user.email%>
</p>
<br>
<p>
  <strong>Reality User Type:</strong>
  <%= @current_user.user_type%>
</p>
<br>
<p>
  <strong>Pending Applications:</strong>
</p>
